* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Roboto", "Open Sans", sans-serif;
}
.header {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 20px;
  background-color: #06373d;
  display: flex;
  font-family: "Poppins", sans-serif;
  color: #ebebeb;
  font-size: x-large;
  font-family: "Segoe UI", "Roboto", "Open Sans", sans-serif;
  position: fixed;
}
.time {
  padding: 0;
  margin: 0;
  margin-left: 50%;
  display: flex;
}
.logo {
  width: 80px;
  height: 70px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
}
.dashboard {
  display: flex;
  height: 100vh;
  position: absolute;
}
aside {
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 100%;
  width: 250px;
  margin-top: 100px;
  background: #2b2d31;
  background: #2b2d31;
  background: linear-gradient(
    180deg,
    rgba(43, 45, 49, 1) 48%,
    rgba(137, 147, 158, 1) 78%
  );
}
.icons {
  width: 30px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}
aside a {
  display: block;
  text-decoration: none;
  margin: 10px 0;
  font-family: "Sans", "Segoe UI", "Roboto", "Open", sans-serif;
  border-style: solid;
  padding: 8px;
  margin: 6px;
  color: #ebebeb;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-color: #ebebeb;
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.3);
}
aside a :hover {
  color: #ebebeb;
  transform: scale(0.9);
  padding: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2b2d31;
  color: #ebebeb;
  text-align: center;
  height: 25px;
}
.btn-block {
  transition-duration: 0.4s;
  padding: 0.3em 1.2em;
  margin: 0.3em 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  font-family: "Sans", "Segoe UI", "Roboto", "Open", sans-serif;
  color: #ebebeb;
}
/* command for reponsiveness */
@media all and (max-width: 30em) {
  a.buton {
    display: block;
    margin: 0.2em auto;
  }
}
.main-content {
  margin: 0px;
  padding: 0px;
}
.content {
  margin-left: 500px;
  margin-top: 120px;
  width: 800px;
  height: 400px;
}
.background {
  background-image: url("/frontend/assets/image/logo/back.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-size: contain;
  height: 400px;
  width: 500px;
}
.date-container p {
  font-size: 25px;
  padding: 2px;
}
.date-container {
  display: flex;
  width: 240px;
  height: 60px;
}
